.mainvisual
	// background linear-gradient(to right, rgba(178, 254, 250, 0.4), rgba(14, 210, 247, 0.4)) fixed, url('/img/mainvis.png')
	background linear-gradient(to right, rgba(254, 172, 94, 0.4), rgba(199, 121, 208, 0.4), rgba(75, 192, 200, 0.4)) fixed, url('/img/mainvis.png')
	background-position center top
	background-repeat no-repeat
	background-size cover
	background-attachment fixed
	&__title
		font-size font-title
		color white
		font-weight 100