.form
	&__input
		font-size font-s
		border none
		border-radius 5px
		padding padding-m
		&:focus
			outline none
			// box-shadow 0 0 15px rgba(75, 192, 200, 1)
			box-shadow 0 0 20px rgba(255, 255, 255, 1)
	div
		padding-bottom padding-m