// margin
.m-b-lg
	margin-bottom 50px
.m-b-md
	margin-bottom 30px
.m-b-sm
	margin-bottom 15px
// height
.full-height
	height 100vh

// width
.full-width
	width 100vw

.flex-center
	align-items center
	display flex
	justify-content center