// color
white = #fff
orange = #FEAC5E
pink = #C779D0
pink-hover = pink + 50%
sky = #4BC0C8
sky-hover = sky + 10deg + 10%
dark-gray = #333
gray = #2a2a2a
light-gray = gray + 60%
darker-blue = #4c6673



// font size
font-title = 84px
font-base = 18px
font-s = 1rem
font-m = 1.2rem
font-l = 1.5rem

// padding
padding-s = 5px
padding-m = 10px
padding-l = 20px
padding-xl = 50px